
<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Add User</h3>
</div>
<div class="modal-body" id="modal-body">

<form name="useradd">
<div class="row">
<div class="col-md-5">
<div class="form-group row">
	<div class="col-sm-4">
    <label for="name">Name:</label>
    </div><div class="col-sm-8">
    <input type="text" placeholder="enter name.." class="form-control" id="name" ng-model="user.name">
  </div>
  </div>
  <div class="form-group row">
  <div class="col-sm-4">
    <label for="password">Password:</label>
    </div><div class="col-sm-8">
    <input type="password" placeholder="enter password.." class="form-control" id="password" ng-model="user.password">
  </div>
  </div>
   <div class="form-group row">
  <div class="col-sm-4">
    <label for="confirmPassword">Confirm Password:</label>
    </div><div class="col-sm-8">
    <input type="password" placeholder="enter password again.." class="form-control" id="confirmPassword" ng-model="confirmPassword">
  </div>
  </div>
  <div class="form-group row">
  <div class="col-sm-4">
    <label for="dob">DOB:</label>
    </div><div class="col-sm-8">
   <p class="input-group"> 
    <input type="text" placeholder="enter dob.." class="form-control" id="dob" ng-model="user.dob" uib-datepicker-popup  is-open="dob.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="dob()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
    </p>
  </div>
  </div>
  <div class="form-group row">
  <div class="col-sm-4">
    <label for="mobileNumber">Mobile Number:</label>
    </div><div class="col-sm-8">
    <input type="text" placeholder="enter mobile number.." class="form-control" id="mobileNumber" ng-model="user.mobileNumber">
  </div>
  </div>
  <div class="form-group row">
  <div class="col-sm-4">
    <label for="emailId">Email address:</label>
    </div><div class="col-sm-8">
    <input type="email" placeholder="enter email id.." class="form-control" id="emailId" ng-model="user.emailId">
  </div>
  </div>
 
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-5">
  <div class="form-group row">
  <div class="col-sm-4">
    <label for="doorNo">Door Number:</label>
    </div><div class="col-sm-8">
    <input type="text" placeholder="enter door number.." class="form-control" id="doorNo" ng-model="user.addressVo.doorNo">
  </div>
  </div>
   <div class="form-group row">
  <div class="col-sm-4">
    <label for="street">Street:</label>
    </div><div class="col-sm-8">
    <input type="text" placeholder="enter street.." class="form-control" id="street" ng-model="user.addressVo.street">
  </div>
  </div>
   <div class="form-group row">
  <div class="col-sm-4">
    <label for="country">Country:</label>
    </div><div class="col-sm-8">
    <select  placeholder="select country.." ng-change="getStates()" class="form-control" id="country" ng-model="user.addressVo.country.id" ng-options="country.id as country.name for country in countries">
    <option value="-1">Select Country</option>
    </select>
  </div>
  </div>
  <div class="form-group row">
  <div class="col-sm-4">
    <label for="state">State:</label>
    </div><div class="col-sm-8">
    <select  placeholder="select state.."  ng-change="getCities()" class="form-control" id="state" ng-model="user.addressVo.state.id" ng-options="state.id as state.name for state in states">
    <option value="-1">Select State</option>
    </select>
  </div>
  </div>
    <div class="form-group row">
  <div class="col-sm-4">
    <label for="city">City:</label>
    </div><div class="col-sm-8">
    <select placeholder="select city.." class="form-control" id="city" ng-model="user.addressVo.city.id" ng-options="city.id as city.name for city in cities">
    <option value="-1">Select City</option>
    </select>
  </div>
  </div>
  <div class="form-group row">
  <div class="col-sm-4">
    <label for="pinCode">Pin Code:</label>
    </div><div class="col-sm-8">
    <input type="text" placeholder="enter pin code.." class="form-control" id="pinCode" ng-model="user.addressVo.pinCode">
  </div>
  </div>
   
</div>
</form>

	
	
	
	
	
	
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>